*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
video{
  width: 90%;
  height: 50%;
  /* border: 2px solid red */
}

button{
  width: 50%;
  height: 50px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  outline: none;
  margin-bottom: 2rem;
}

button:hover{
  background-color: #000;
  color: #fff;
}